html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media only screen and (max-width: 800px) {
  #foodSlider {
    display: none;
  }

  #banner-pic {
    display: none;
  }

  #logo {
    display: none;
  }

  #myslides {
    width: 200px;
  }

  nav {
    background-image: url(assets/Lush.png);
    background-position: 50% 27%;
    background-repeat: no-repeat;
    margin-left: 1em;
  }

  #container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
  }

  #about-menu {
    width: 100%;
    position: relative;
    left: 25px;
    margin-right: 20px;
    padding-left: 0px;
  }

  #innermenu {
    width: 90%;
  }

  #grid-container {
    margin: -40px;
    padding: 0;
  }

  #content-inner {
    margin: 0px;
  }

  #latestNews {
    position: absolute;
    left: 25px;
    top: 65em;
  }

  #specialDay {
    position: absolute;
    left: 25px;
    top: 85em;
  }

  .info {
    display: none;
  }

  footer {
    position: absolute;

    top: 110em;
  }

  #socialMedia {}
}

header {
  display: flex;
  flex-direction: column;
}

:root {
  --main-border: 1px solid black;
  --menu-item-font: 14px;
  --readMore: <a href="#">[Read More];
}

#banner {
  width: 840px;

  margin: auto;
}

#banner-pic {
  background: url(assets/pexels-photo-1528013.jpeg);
  box-shadow: 0px 0px 10px 1px lightgrey;

  background-position: 45% 47%;
  background-repeat: no-repeat;
  width: 53em;
  height: 13em;

  top: 5.49px;
  transform: rotate(-0.07deg);
}

#logo {
  position: absolute;
  width: 17em;
  height: 13em;
  left: 42%;
  top: 1%;
  box-shadow: 0px 0px 10px 1px lightgrey;
}

#socialMedia {
  display: flex;
  margin-top: 5em;
  justify-content: space-evenly;
}

#socialMedia i {
  font-size: 5em;
  padding-bottom: 5px;
}

#opentable {
  border-radius: 15px;
  height: 5em;
  width: 5em;
}

#facbook {
  color: #3b5998;
  /* color: #3b5998; */
}

#instagram {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

nav {
  width: 100%;
  height: 16em;
  border-bottom: 1px solid black;
}

ul a {
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
}

/* this sets up the grid for the main area */
#grid-container {
  padding: 5em 0 5em 1em;

  display: grid;
  grid-template-columns: 405px 405px 405px;
  grid-template-rows: 325px 325px;
  grid-gap: 1em;
}

#about-menu {
  border: 1px solid black;
  background-color: #ee9634;
  border-radius: 24px;
  padding: 0.5em 0.5em 0em 0.5em;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}

#innermenu {
  border: var(--main-border);
  margin-top: 0px;
  margin-left: -0.5em;
  padding-right: 1em;
  height: 42em;
  width: 25em;
  background: #ffffff;
  box-shadow: 25px 4px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

/* styling the comment section */
#comments {
  display: flex;
  flex-direction: column;
  height: 30em;
  padding-left: 3.5em;
}

.useInfo {
  display: block;
}

#comment {
  width: 75%;
  /* padding: 0; */
  font-size: 1em;
  text-align: left;
}

#discus_thread {
  margin-top: 10px;
  margin-right: 20px;
}

.useInfo {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-bottom: 1em;
  height: 2em;
  margin-left: 1em;
}

input:focus {
  outline: none;
  width: 75%;
}

#fname {
  display: flex;
}

#lname {
  display: flex;
}

#email {
  display: flex;
}

#commentButton {
  width: 75%;
  height: 50px;
  border-radius: 20px;
  border: none;
}

#commentButton:hover {
  border: none;
  transition: 0.5s;
  background-color: #e9ccaf;
}

/* This styles the whole of the Latest News segment */
#latestNews {
  border: var(--main-border);
  background-color: #ee9634;
  grid-column-start: 2;
  grid-row-start: 1;
  border-radius: 24px;
  padding: 0.5em 0.5em 0.5em -0.5em;
}

#latestNews p {
  overflow: hidden;
  text-overflow: clip;
}

#innerNews {
  border: var(--main-border);
  display: grid;
  grid-template-columns: 10em 10em;
  grid-template-rows: 0em 1em;
  padding-left: 1.5em;
  padding-top: 1.5em;
  grid-gap: 2em;
  background: #ffffff;
  box-shadow: 20px 15px 20px 10px rgba(0, 0, 0, 0.25);
  height: 19em;
  border-radius: 25px;
  width: 25em;
  margin-left: -0.5em;
}

/* sets up grid for the story and picture */
#tag {
  height: 2em;
  /* border: var(--main-border); */
  margin-bottom: 1em;
  grid-row-start: 1;
}

#innerP {
  height: 14em;
  grid-column-start: 1;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

#portraitPicture {
  height: 13em;
  border: var(--main-border);
  grid-row-start: 1;
  background-image: url("assets/simon.jpg");
  background-repeat: no-repeat;
  background-position: 60% 10%;
  box-shadow: 0px 0px 8px 1px black;
}

#readMore {
  height: 5em;
  font-size: 1.5em;
  margin-top: 0.5em;
  grid-column-start: 2;
  grid-row-start: 7;
}

#readMore a {
  text-decoration: none;
  color: black;
}

#readMore a:hover {
  color: lightgray;
  transition: 0.3s;
  transform: scale(1.2);
}

/* This styles the special of the day */
#specialDay {
  border: var(--main-border);
  grid-column-start: 3;
  grid-row-start: 1;
  background-color: #ee9634;
  border-radius: 24px;
}

#innerSpecial {
  background: #ffffff;
  box-shadow: 20px 15px 20px 10px rgba(0, 0, 0, 0.25);
  height: 19em;
  border-radius: 25px;
  border: var(--main-border);
  width: 25em;
  margin-left: -0.5em;
  display: grid;
  padding-top: 10px;
  padding-left: 10px;
  grid-template-columns: 11.5em 11.5em;
  grid-template-rows: 8.5em 8.5em;
  grid-gap: 5px;
}

#specialPic {
  border: var(--main-border);
  background-image: url("https://i.pinimg.com/236x/8c/77/66/8c7766c254b59004643c75fdc41a8866--pasta-sauces-pasta-recipes.jpg");
  box-shadow: 0px 0px 8px 1px black;
}

/* this helps fix the overflow problem in the special area */
#specialDesc {
  width: 19em;
}

#specialPrice {
  padding-left: 6em;
}

#tabMenu {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8em;
  margin: 5px;
  padding: 15px 0 0 0px;
  grid-column-gap: 20px;
}

.tabItem:hover {
  /*border-bottom: var(--main-border);*/
  background-color: #fcecd9;
  cursor: pointer;
}

/* this is for the styling of the menu tabs */
/* this takes care of all the hover elements and postions the tabs */

.tabItem>span {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
}

/* this section lays out the area for the about me and the carosel */
#content-inner {
  display: grid;
  grid-auto-rows: auto auto auto;
  grid-gap: 5px;
  border-style: double;
  margin-left: 15px;
}

/* i styled the sections to fit inside the innerabout */
#paraone {
  height: 200px;
}

#paraone p {
  padding: 10px;
}

/* This styles the actual carousel itself */

#carousel {
  height: 200px;
  width: 375px;
  position: relative;
  /* margin: auto; */
}

#foodSlider {
  border: var(--main-border);
  height: 19.2em;
  border-radius: 25px;
  width: 35em;
  grid-column-start: 0;

  margin-left: 10em;
}

#foodSlider img {
  border-radius: 25px;
  height: 19em;
}

.myslides img {
  height: 200px;
  width: 375px;
  padding-left: 2px;
}

.myslides,
.mySlides2 {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Dots and bullet indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animations */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/*  */
#paratwo {
  height: 200px;
}

#paratwo p {
  padding: 10px;
}

footer {
  width: 100%;
  height: 25em;
  border: var(--main-border);
  background-color: #ee9634;
}

/* this styles the menu items */
#content-inner section {
  display: none;
  max-height: 38em;
  overflow-x: hidden;
  overflow-y: scroll;
}

#content-inner section.active1 {
  display: block;
}

.active2 span {
  text-decoration: underline;
}

h3 {
  text-transform: uppercase;
  padding-left: 15px;
  color: #b47231;
}

.column {
  transition: 0.5s;
  font-family: cursive;
  margin: 10px;
  /* margin-left: 10px; */
  padding-left: 10px;
  /* margin-bottom: 10px; */
  border: 5px;
  border-style: double;
}

.fas {
  margin-left: 15px;
  margin-bottom: 10px;
}

.reservationBox {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;

  /* justify-content: center; */
}

.reservationBox h3 {
  margin-left: 3em;
}

.reservationBox form {
  margin-left: 7em;
  outline: none;
  height: 20px;
  margin-bottom: 10px;
}

.reservationBox input {
  padding: 1em 1em;
  margin-bottom: 1.5em;
}

select {
  height: 25px;
  width: 67%;
  border-radius: 10px;
}

.reservationBox button {
  background-color: white;
  font-size: 1em;
  padding: 20px;
}

.reservationBox button:hover {
  transition: 0.5s;
  background-color: #e9ccaf;
}

.specialofDay {
  font-size: 18px;
  font-family: fantasy;
}

#specialDesc {
  margin-left: 1em;
}

#specialPrice {
  font-size: 20px;
  margin-top: 2em;
  font-family: fantasy;
}

#blurb {
  display: flex;
  justify-content: space-evenly;
}

.info {
  font-size: 20px;
  color: white;
  height: 10em;
  width: 20em;
}

#copy {
  display: flex;
  color: white;
  justify-content: flex-start;
}

#copy p {
  margin-left: 10px;
}