html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body {
	margin: 60px;
	color: #aa610c;
}

h2 .mainHeader {
	text-align: center;
}

img {
    width: 510px;
    height: 341px;
}



.staffBox {
	display:flex;
	margin: 20px;
}



.content {
	padding: 50px;
	margin: 20px;

}