html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  display: flex;
  flex-direction: column;
}

:root {
  --main-border: 1px solid black;
  --menu-item-font: 14px;
  --readMore: <a href= "#" >[Read More];
}

#banner {
  width: 840px;

  margin: auto;
}
@media (max-width: 700px) {
}

#logo {
  position: absolute;
  width: 17em;
  height: 13em;
  left: 42%;
  top: 1%;
  box-shadow: 0px 0px 10px 1px lightgrey;
}

#banner-pic {
  background: url(assets/pexels-photo-1528013.jpeg);
  box-shadow: 0px 0px 10px 1px lightgrey;

  background-position: 45% 47%;
  background-repeat: no-repeat;
  width: 53em;
  height: 13em;

  top: 5.49px;
  transform: rotate(-0.07deg);
}

#socialMedia {
  /* display: block; */
  position: relative;
  float: right;
  bottom: 200px;
  right: 150px;
}

#socialMedia i {
  font-size: 45px;
  padding-bottom: 5px;
}

#opentable {
  padding-top: 5px;
  height: 45px;
  width: 45px;
}

#facbook {
  color: #3b5998;
  /* color: #3b5998; */
}

#instagram {
  background-image: linear-gradient(
    -90deg,
    #3b5998,
    #3b5998,
    #bc2a8d,
    #fccc63,
    #fccc63
  );
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

nav {
  width: 100%;
  border-bottom: 1px solid black;
}

ul a {
  text-decoration: none;
  color: black;
}

#nav-bar {
  display: flex;
  justify-content: space-evenly;
}

#nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  margin-right: 1em;
}

#nav-bar ul > li {
  margin-bottom: -1em;
  padding: 1em;
}

#nav-bar ul li a {
  padding-left: 5em;
  padding-right: 7em;
}

#nav-bar a:hover {
  color: lightgray;
}

main {
  width: 100%;
}
/* this sets up the grid for the main area */
#grid-container {
  padding: 5em 0 5em 1em;

  display: grid;
  grid-template-columns: 405px 405px 405px;
  grid-template-rows: 325px 325px;
  grid-gap: 1em;
}

#about-menu {
  border: 1px solid black;
  background-color: #ee9634;
  border-radius: 24px;
  padding: 0.5em 0.5em 0em 0.5em;

  grid-column-start: 1;

  grid-row-start: 1;
  grid-row-end: 4;
}
#innermenu {
  border: var(--main-border);
  margin-top: 0px;
  margin-left: -0.5em;
  padding-right: 1em;
  height: 42em;
  width: 25em;
  background: #ffffff;
  box-shadow: 25px 4px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}
/* This styles the whole of the Latest News segment */
#latestNews {
  border: var(--main-border);
  background-color: #ee9634;
  grid-column-start: 2;
  grid-row-start: 1;
  border-radius: 24px;
  padding: 0.5em 0.5em 0.5em -0.5em;
}

#innerNews {
  border: var(--main-border);
  display: grid;
  grid-template-columns: 10em 10em;
  grid-template-rows: 0em 1em;
  padding-left: 1.5em;
  padding-top: 1.5em;
  grid-gap: 2em;
  background: #ffffff;
  box-shadow: 20px 15px 20px 10px rgba(0, 0, 0, 0.25);
  height: 19em;
  border-radius: 25px;
  width: 25em;
  margin-left: -0.5em;
}
/* sets up grid for the story and picture */
#tag {
  height: 2em;
  /* border: var(--main-border); */
  margin-bottom: 1em;
  grid-row-start: 1;
}

#innerP {
  height: 14em;
  grid-column-start: 1;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
#portraitPicture {
  height: 13em;
  border: var(--main-border);
  grid-row-start: 1;
  background-image: url("assets/simon.jpg");
  background-repeat: no-repeat;
  background-position: 60% 10%;
  box-shadow: 0px 0px 8px 1px black;
}
#readMore {
  height: 5em;
  font-size: 1.5em;
  margin-top: 0.5em;
  grid-column-start: 2;
  grid-row-start: 7;
}
#readMore a {
  text-decoration: none;
  color: black;
}
#readMore a:hover {
  color: lightgray;
  transition: 0.3s;
  transform: scale(1.2);
}
/* This styles the special of the day */
#specialDay {
  border: var(--main-border);
  grid-column-start: 3;
  grid-row-start: 1;
  background-color: #ee9634;
  border-radius: 24px;
}

#innerSpecial {
  background: #ffffff;
  box-shadow: 20px 15px 20px 10px rgba(0, 0, 0, 0.25);
  height: 19em;
  border-radius: 25px;
  border: var(--main-border);
  width: 25em;
  margin-left: -0.5em;
  display: grid;
  padding-top: 10px;
  padding-left: 10px;
  grid-template-columns: 11.5em 11.5em;
  grid-template-rows: 8.5em 8.5em;
  grid-gap: 5px;
}
#specialPic {
  border: var(--main-border);
}

#tabMenu {
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: 80px 80px 80px;
  padding: 15px 0 0 40px;
  grid-column-gap: 20px;
}

.tabItem:hover {
  /*border-bottom: var(--main-border);*/
  background-color: #fcecd9;
  cursor: pointer;
}

/* this is for the styling of the menu tabs */
/* this takes care of all the hover elements and postions the tabs */

.tabItem > span {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
}

/* this section lays out the area for the about me and the carosel */
#content-inner {
  display: grid;
  grid-auto-rows: auto auto auto;
  grid-gap: 5px;
}
/* i styled the sections to fit inside the innerabout */
#paraone {
  height: 200px;
}
#paraone p {
  padding: 10px;
}

/* This styles the actual carousel itself */

#carousel {
  height: 200px;
  width: 375px;
  position: relative;
  /* margin: auto; */
}
#foodSlider {
  border: var(--main-border);
  height: 19.2em;
  border-radius: 25px;
  width: 35em;
  grid-column-start: 0;

  margin-left: 10em;
}
#foodSlider img {
  border-radius: 25px;
  height: 19em;
}
.myslides img {
  height: 200px;
  width: 375px;
  padding-left: 2px;
}

.myslides,
.mySlides2 {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
  color: #f2f2f2;
  font-size: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Dots and bullet indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animations */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*  */
#paratwo {
  height: 200px;
}
#paratwo p {
  padding: 10px;
}

footer {
  width: 100%;
  height: 25em;
  border: var(--main-border);
}

#content-inner section {
  display: none;
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#content-inner section.active1 {
  display: block;
}

.active2 span {
  text-decoration: underline;
}

h3 {
  text-transform: uppercase;
  color: #b47231;
}
